@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;700;800;900&display=swap');

:root{
    --grey-color:#565656;
    --red-color:#ff4742;
}

body{
    font-size: 16px;
    margin: 0;
    padding: 0;
    font-family: 'Nunito',Arial, Helvetica, sans-serif;
}
body .container{
    max-width:360px;
    height: 100vh;
    background:white;
    margin: 0 auto;
}
header{
    position: relative;
    z-index: 2;
}
header nav{
    /* border:red 1px solid; */
    height: 60px;
    width: 340px;
    padding: 10px 10px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
header nav .nav-menu{
    display: flex;
    align-items: center;
}
header nav .nav-menu .nav-logo-icon{
    width: 40px;
    margin-right: 5px;
}
header nav .nav-menu .nav-drop-icon{
    width: 10px;
}
header nav .nav-search input{
    font-family: 'Nunito';
    font-weight:700;
    font-size:1em ;
    width: 150px;
    height: 40px;
    border: 1px solid #f2f2f2;
    border-radius: 5px;
    padding-left: 15px;
}
header nav .nav-signup{
    color: white;
    font-weight: bold;
    font-size: .9em;
    padding:10px;
    border-radius: 5px;
    background:var(--red-color);
}
.hero{
    /* border: 1px solid green; */
    width: 360px;
    height: 250px;
    position: absolute;
    top: 0px;
    background-image: url('/images/beach.gif');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    z-index: 1;
}
.hero h1{
    margin-top:125px;
    font-weight: 800;
    font-size: 1.5;
    color: white;
    text-align: center;
}
.hero .wave{
    position: absolute;
    z-index: 3;
    bottom: 0;
}
main{
    margin-top: 170px;
    padding: 10px 15px;
}
main .filters{
    position: sticky;
    top:15px;
    z-index: 99;
}
main .filters .filters-row1, .filters-row2{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15px;
}
main .filters .filters-row1 .filters-button{
    background: var(--red-color);
    padding: 10px 20px;
    border-radius: 5px;
    font-weight: 700;
    font-size: .9em;
    color: white;
}
main .filters .filters-row1 .add-button input{
    border: 1px solid #dddddd;
    background:white;
    font-family: 'Nunito';
    font-size: .9em;
    padding: 10px 20px;
    border-radius: 5px;
    font-weight: 700;
}
main .filters .filters-row2 .grid-button{
    border: 1px solid #dddddd;
    background-color: white;
    border-radius: 5px;
    color: #757575;
    font-size:.9em;
    padding:10px 20px ;
    font-weight: 700;
    width: 100px;
    text-align: center;
}
main .filters .filters-row2 .score-button{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
main .filters .filters-row2 .score-button .left{
    border: 1px solid #dddddd;
    padding:10px 20px;
    background: white;
    width: 90px;
    text-align: center;
    font-size: .9em;
    font-weight: 700;
    color: #757575;
    border-radius: 5px 0 0 5px;

}
main .filters .filters-row2 .score-button .right{
    border: 1px solid #dddddd;
    background: white;
    padding:9px 10px;
    border-left: none;
    border-radius:0 5px 5px 0;
}
main .filters .filters-row2 .score-button img{
    width: 10px;
}
main .forum-container{
    width: 100%;
}
main .forum-container .forum-banner{
    text-align: center;
    border: 1px solid #dddddd;
    border-radius: 5px 5px 0 0;
    padding: 5px;
    background:whitesmoke ;
    color: #757575;
    font-size: 1em;
    font-weight: 700;
}
main .forum-container .forum-post{
    padding: 20px 0 5px;
    border: 1px solid #dddddd;
    border-top: none;
    border-radius: 0 0 5px 5px;
}
main .forum-container .forum-post .forum-post-question{
    display: flex;
    align-items: center;
    font-size: .9em;
    font-weight: 700;
}
main .forum-container .forum-post p{
    margin: 10px 10px;
    font-size: .8em;
}
main .forum-container .forum-post img{
    width: 30px;
    margin: 0 10px;
    border: 1px solid #dddddd;
    border-radius: 50%;
}
main .places-grid{
    margin-top: 15px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows:repeat(7,100px);
    gap: 15px;
}
main .places-grid h2{
    color: white;
    font-size: 1.2em;
    margin: 0 auto;
}
/* main .places-grid h3{
    color: white;
    font-size: .8em;
    margin: 0 auto;
} */
main .places-grid .city, .country{
    /* border: 1px solid red; */
    border-radius: 5px;
}
main .country{
    grid-column: 1 / span 2;
    background-image: url('/images/japan.jpg');
    background-position: center;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;

}
main .places-grid .city{
    background-position: center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    z-index: 1;
}
main .places-grid .c1{
    background-image: url('/images/sanfrancisco.jpg');
}
main .places-grid .c2{
    background-image: url('/images/mexico.jpg');
}
main .places-grid .c3{
    background-image: url('/images/paris.jpg');
}
main .places-grid .c4{
    background-image: url('/images/santiago.jpg');
}
main .places-grid .c5{
    background-image: url('/images/moscu.jpg');
}
main .places-grid .c6{
    background-image: url('/images/tokyo.jpg');
}
main .places-grid .c7{
    background-image: url('/images/venice.jpg');
}
main .places-grid .c8{
    background-image: url('/images/chicago.jpeg');
}
main .places-grid .c9{
    background-image: url('/images/toronto.jpg');
}
main .places-grid .c10{
    background-image: url('/images/buenosaires.jpg');
}
main .places-grid .c11{
    background-image: url('/images/london.jpg');
}
main .places-grid .c12{
    background-image: url('/images/rio.jpg');
}

main .places-grid .city{
    color: white;
    font-size: .8em;
    font-weight: 700;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(4,25px);
    grid-template-areas:"rank internet"
                        "city-name city-name"
                        "country-name country-name"
                        "weather cost";
}
main .places-grid .city .rank{
    grid-area: rank;
    justify-self: flex-start;
    align-self: center;
    margin-left: 5px;
    border-bottom: 2px solid white;
}
main .places-grid .city .internet{
    grid-area: internet;
    justify-self: center;
    align-self: center;
    /* padding:5px */
}
main .places-grid .city .city-name{
    grid-area: city-name;
    font-size: 1.3em;
    justify-self: center;
    align-self: flex-end;
}
main .places-grid .city .country-name{
    grid-area: country-name;
    font-size: .8em;
    justify-self: center;
    align-self: flex-start;
}
main .places-grid .city .weather{
    grid-area: weather;
    justify-self: flex-start;
    align-self: center;
    /* padding:5px; */
}
main .places-grid .city .cost{
    grid-area: cost;
    justify-self: center;
    align-self: center;

}
main .places-grid .internet img{
    width: 12px;
}
/* main .places-grid .top-data,.bottom-data{
    color:white;
    font-size: .8em;
    font-weight: 700;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 10px;
}
main .places-grid .top-data{
    padding: 0 5px 10px
}
main .places-grid .bottom-data{
    padding: 10px 5px;
} */